.nav-rota {
    background: -webkit-linear-gradient(top, #3993ba 0%, #067ead 100%);
    color: white;
    height: 40px;
}

.box-nav {
    height: 100%
}

.btn-gerar-rota {
    background: linear-gradient(to bottom, #62c462, #51a351);
    color: white;
    line-height: 25px
}

.box-dados-veiculo {
    margin-top: 20px;
}

.input-veiculo{
    width:33.3%;
    margin:0 35px;

}


.msg-veiculo{
    background: #16477E !important;
    width: 50%;
    color: white !important;
    text-align: center !important;
    margin: auto;
    line-height: 70px;
    box-shadow: 3px 3px 3px black;
}



