<nav class="nav-rota">
    <div class="box-nav container d-flex align-items-center">
        <span class="">Rotas Planejadas</span>
        <button class="btn-gerar-rota ml-auto" mat-raised-button>Gerar Rota</button>

    </div>
</nav>
<section class="container box-dados-veiculo ">
    <h4>Dados do Veículo</h4>
    <hr>

    <div class="container">
        <div class="d-flex justify-content-center">
            <mat-form-field class="input-veiculo">
                <input matInput placeholder="Combustível(1L-R$)">
            </mat-form-field>

            <mat-form-field class="input-veiculo">
                <input matInput placeholder="Consumo(Km/L)">
            </mat-form-field>
        </div>

        <tgt-button-veiculo></tgt-button-veiculo>
    </div>

</section>


<!-- Consumo Combustivel -->