<nav class="nav-rota">
    <div class="box-nav container d-flex align-items-center">
        <span class="">Title APP</span>
        <button class="btn-gerar-rota ml-auto" mat-raised-button>Enviar</button>

    </div>
</nav>
<section class="container box-dados-veiculo ">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h4>Dados</h4>
                <hr>

            </mat-expansion-panel-header>

            <div class="container">
                <div class="d-flex justify-content-center">
                    <mat-form-field class="input-veiculo">
                        <input matInput placeholder="Valor">
                    </mat-form-field>
                    <mat-form-field class="input-veiculo">
                        <input matInput placeholder="Quantidade">
                    </mat-form-field>
                </div>

                <section class="container">
                    <div class="d-flex justify-content-around">
                        <tgt-list-button-veiculo></tgt-list-button-veiculo>
                    </div>
                    <div id='descricao' class="msg-veiculo">Articuno</div>
                </section>
            </div>


        </mat-expansion-panel>


    </mat-accordion>




</section>


<!-- Consumo Combustivel -->