
.btn-veiculo {
    background: #d8d8d8 !important;
    width: 15% !important;
    line-height: 50px !important;
    cursor: pointer !important; 
    box-shadow: 2px 2px 6px !important;
}

.btn-selecionado{
    background: linear-gradient(to bottom, #62c462, #51a351) !important;
    box-shadow: none !important;   
    transition: 100ms;
}

.img-veiculo{
    border: 1px solid black;
    width: 13% !important;
    height:40%;
    cursor: pointer;
    margin: 5px;
    background-color: #268BB5;
    box-shadow: 1px 1px 11px;
    border-radius: 4px;
}

